

<div class='px-10 space-y-16'>
  <div class="flex w-full justify-between items-center py-5">
    <p class='text-4xl font-medium '>
      My Orders
    </p>
    <div class="flex flex-row justify-between gap-3">
      <%= link_to "Back to Home", root_path, { class: 'px-5 py-3 mx-auto border border-0.5 shadow-md rounded-xl' } %>
      <%= button_to "Log out", logout_path,  { method: :delete, class: 'px-5 py-3 mx-auto border border-0.5 shadow-md rounded-xl'} %>
    </div>
  </div>

  <div class="w-full">
    <div class="flex flex-col gap-5">
      <% @orders.each do |order| %>
        <div class="flex flex-row text-lg border border-0.5 rounded-xl shadow-md py-7 px-5 items-center">
          <div class='basis-1/5'>
            <%= order.created_at.strftime("%B %d, %Y %H:%M") %> </div>
          <div class='basis-1/5 font-bold'>
            <%= order.bundle.name %>
          </div>
          <div class='basis-1/5'>
            <%= price_name(order.bundle.price, order.bundle.currency) %>
          </div>
          <div class='basis-1/5'>
            <span class="text-sm font-bold <%= order.payment_status == 'paid' ? 'text-green-500' : 'text-red-500' %>">
              <%= order.payment_status.upcase %>
            </span>
          </div>
          <% if  order.payment_status == 'unpaid' %>
            <div class='basis-1/5'>
              <%= button_to "Pay", checkout_continue_path, { params: {session_id: order.payment_session_id }, data: { turbo: false }, class: 'px-5 py-2 mx-auto border border-0.5 shadow-md rounded-xl'} %>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>
